#container{
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.2) !important;
    transition: 0.3s;
    justify-content: space-around !important;
    margin-top: 20em !important;

    
   
}

#formulario{
    margin-top: 10% !important;
    background-color: #C4C4C4;
    height: 15em !important;
    justify-content: space-around !important;
    align-items: center!important;
    flex-direction: column !important;
    width: 60em;
    

}

.input-group{
    background-color: rgba(29, 20, 20, 0.753);
}

#agrupar{
    display: flex;
    flex-direction: column;
}

#sexo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#arrumar{
    justify-content: space-between !important;
    display:flex !important;
    flex-direction: row !important;
}