#container-geral{
    box-shadow: 0 4px 8px 0 rgba(126, 33, 33, 0.2);
    transition: 0.3s;
    justify-content: space-around !important;

    
   
}

#formulario{
    background-color: rgba(34, 33, 33, 0.753);
    height: 25em !important;
    justify-content: space-around !important;

}

.input-group{
    background-color: rgba(29, 20, 20, 0.753);
}

#agrupar{
    display: flex;
    flex-direction: column;
}

#sexo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#arrumar{
    justify-content: space-between !important;
    display:flex !important;
    flex-direction: row !important;
}